body { 
    overflow: hidden; 
    background-color: #fafafa;
}

.dino{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url(./assets/dino.png);
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(./assets/cactus.png);
}

.game-over{
    text-align: center;
    color: black;
    font-family: Arial;
}

@keyframes slideright{
    from{
        background-position: 70000%;
    }

    to{
        background-position: 0;
    }
}

.background{
    position: absolute;
    bottom: 0;
    background-image: url(./assets/background.png) ;
    background-repeat: repeat-x;
    animation: slideright 1700s infinite linear;
    width: 100%;
    height: 200px;
}